body{width:100%;
 

height:100%;}

#datos{
 width:99%;
 height:40px;
 margin:0 auto;
 background:url("back.png");
 margin-bottom:5px; 
 color:white;
 }

.elem{
  float:right;
  margin-right:10px; 
  margin-top:10px; 
}
#map_canvas{
 width:99%;
 height:906px; 
 margin:0 auto;
 clear:both;
}

#respuesta{
 margin-top:13px;
 display:none;  
}



