@charset "utf-8";

/*-----------------------REPORTES STATUS---------------------------*/

.tablaReporteV{
	width:970px;
	border-top:1px solid #999999;
	border-bottom:1px solid #D9D9D9;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
}

/*-----------------------REPORTES STATUS---------------------------*/

/*-----------------------REPORTES STATUS---------------------------*/

.tablaReporte{
	width:1190px;
	border-top:1px solid #999999;
	border-bottom:1px solid #D9D9D9;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
}

/*-----------------------REPORTES STATUS---------------------------*/

/*-----------------------ADD RUTAS DE CONTROL---------------------------*/

.geoList{
	width:220px;
	color:#2D7EC1;
	border-top:1px #BCBCBC groove;
	border-left:1px #BCBCBC groove;
	margin-bottom:7px;
	margin-top:7px;
	background:#FFFFFF none repeat scroll 0% 0%;
	font-size:20px;
	overflow:auto;
	height:300px;
}

.geoList div:hover{
	background:#2D7EC1;
	color:#FFFFFF;
}

#barrasIzquierda{
	border:1px solid #E3E3E3;
	padding:20px;
	float:left;
	margin-top:10px;
}

#barrasDerecha{
	border:1px solid #E3E3E3;
	padding:20px;
	float:left;
	margin-top:10px;
	margin-left:30px;
}

.fButton{
	width:150px;
	height:30px;
	font-size:14px;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
	position:relative;
	bottom:2px;
}

.fButtonAdd{
	margin-left:10px;
	width:180px;
}

/*-----------------------ADD RUTAS DE CONTROL---------------------------*/

/*-----------------------ADD GEOCERCAS---------------------------*/

.formAddGeocercas{
	border-bottom:1px solid #666666;
	border-top:1px solid #EEEFFD;
	padding:10px;
	padding-bottom:5px;
	width:1015px;
	background:#E8EAF8;
}

.formAddGeocercas div{
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	color:#EA0000;
	font-size:11px;
	margin-top:10px;
	text-align:center;
}

.buttonAddGeo{
	width:150px;
	height:30px;
	font-size:14px;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
	position:relative;
	bottom:2px;
}

/*-----------------------ADD GEOCERCAS---------------------------*/

/*-----------------------TODOS LOS PUNTOS---------------------------*/

#tablaMaps{
	width:918px;
	border-top:1px solid #666666;
	padding-bottom:2px;
}

#tablaMaps table{
	width:918px;		
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;			
}

#tablaMapsOnePoint{
	width:935px;
	border-top:1px solid #666666;
	padding-bottom:2px;
}

#tablaMapsOnePoint table{
	width:935px;		
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;			
}

/*-----------------------TODOS LOS PUNTOS---------------------------*/

/*-----------------------LOGIN PARA USERS TIPO 2---------------------------*/

.botonLoginUser{											
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
	margin-right:5px;
}

/*-----------------------LOGIN PARA USERS TIPO 2---------------------------*/

/*-----------------------CONTRATOS---------------------------*/

.filGPSContr{
	background:#FFFFFF;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	font-size:11px;
	color:#2F2F2F;
	height:20px;
	cursor:default;
}

.filGPSContr:hover{
	background-color:#AAC3E6;
}

.filGPSContr td{
	border-right:1px #D9D9D9 solid;
	padding-left:8px;
}

.filGPSContr img{
	cursor:pointer;
}

.lblHI{
	position:relative;
	left:174px;
}

.lblHF{
	position:relative;
	left:183px;
}

.gpsList{
	width:220px;
	color:#2D7EC1;
	border-top:1px #BCBCBC groove;
	border-left:1px #BCBCBC groove;
	margin-bottom:7px;
	margin-top:7px;
	background:#FFFFFF none repeat scroll 0% 0%;
	font-size:20px;
	overflow:auto;
	height:147px;
}

.gpsList div:hover{
	background:#2D7EC1;
	color:#FFFFFF;
}

.bodyTable1 img{
	cursor:pointer;
}

.bodyTable0 img{
	cursor:pointer;
}

#comentEnd{
	width:724px;
}

.boton{
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	width:150px;
	height:30px;
	font-size:14px;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
}

/*-----------------------CONTRATOS---------------------------*/

/*-----------------------GPS---------------------------*/

.btnHistorial{
	cursor:pointer;
}

.imgPoints{
	background:url(../Imagenes/points.png) no-repeat;
	width:25px;
	height:20px;
}

.imgPointsLong{
	background:url(../Imagenes/pointsLong.png) no-repeat;
	width:25px;
	height:20px;
}

.filHist{
	background:#F3F6FB;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	font-size:11px;
	color:#2F2F2F;
	height:20px;
	cursor:default;
}

.filHist:hover{
	background-color:#AAC3E6;
}

.filHist td{
	border-right:1px #D9D9D9 solid;
	padding-left:8px;
}


/*-----------------------GPS---------------------------*/

/*-----------------------LOGIN---------------------------*/

#divLogin{
	width:220px;
	height:145px;
	border:3px solid #B3D7E3;
	background-color:#DFEBEF;
	margin:0px auto;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	margin-top:13px;
	padding:10px;
	margin-bottom:15px;
}

.divUserLogin div span, .divPassLogin div span{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	cursor:default;
}

.divUserLogin div input{
	margin-bottom:10px;
}

.divUserLogin div input, .divPassLogin div input{
	font-size:20px;
	color:#217793;
}

.divPassLogin div input{
	margin-bottom:10px;
}

.divButtonLogin input{
	width:100px;
	height:30px;
	font-size:14px;
	font-weight:bold;
}

.divWelcome{
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	margin-bottom:10px;
}

.divWelcome span{
	font-weight:bold;
}

.logoutLogin{
	font-size:13px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #39829B;
	cursor:pointer;
	background:#B8D3DC;
	margin-left:30px;
}

#imgWaitFormLogin{
	position:relative;
	bottom:22px;
	left:110px;
}

#imgWaitLogin{
	position:relative;
	bottom:16px;
	left:97px;
}

/*-----------------------LOGIN---------------------------*/

/*-----------------------ADMIN---------------------------*/
.bodyAdmin{
 background:url(../Imagenes/fondo.png);
 background-attachment:fixed;
}

#fondoAdminAll{
	width:100%;
}

#fondoAdmin{
	width:896px;
	margin:0px auto;
	margin-top:30px;
}

#headAdminLeft{
	width:452px;
	height:75px;
	float:left;
	background:url(../Imagenes/header_left.png) no-repeat;
}

#headAdmincenter{
	width:267px;
	height:75px;
	float:left;
	background:url(../Imagenes/header_center.png) repeat-x;
}

#headAdminright{
	width:177px;
	height:75px;
	float:right;
	background:url(../Imagenes/header_right.png) no-repeat;
}

#opt_buscar{
	position:relative;
	width:77px;
	height:22px;
	background:url(../Imagenes/opt_buscar1.png) no-repeat;
	top:57px;
	left:2px;
}

#opt_buscar:hover{
	background:url(../Imagenes/opt_buscar2.png) no-repeat;
	cursor:pointer;
}

#opt_agregar{
	position:relative;
	width:89px;
	height:22px;
	background:url(../Imagenes/opt_agregar1.png) no-repeat;
	top:35px;
	left:80px;
}

#opt_agregar:hover{
	background:url(../Imagenes/opt_agregar2.png) no-repeat;
	cursor:pointer;
}

#desplegable{
	width:754px;
	position:relative;
	bottom:6px;
	right:3px;
}

#desplegableDown{
	width:754px;
	position:relative;
	bottom:6px;
	right:3px;
}

#head_desplegableDown{
	background:url(../Imagenes/feet_desplegableDown.png) no-repeat;
	width:754px;
	height:10px;
}

#body_desplegableDown{
	background:url(../Imagenes/body_desplegable.png) repeat-y;
	width:754px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
}

#feet_desplegableDown{
	background:url(../Imagenes/feet_desplegable.png) no-repeat;
	width:754px;
	height:10px;
}

#body_desplegable{
	background:url(../Imagenes/body_desplegable.png) repeat-y;
	width:754px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
}

#feet_desplegable{
	background:url(../Imagenes/feet_desplegable.png) no-repeat;
	width:754px;
	height:10px;
}

#bodyAdmin{
	width:896px;
	background:url(../Imagenes/body_center.png) repeat-y;
}

#bodyAdminLeft{
	width:124px;
	float:left;
}

.MenuHover:hover{
	width:124px;
	cursor:pointer;
	height:22px;
	background:url(../Imagenes/select_menu_left.png);
}

.MenuSelected{
	width:124px;
	height:22px;
	background:url(../Imagenes/selected_menu_left.png);
}

.Menu_div{
	width:124px;
	height:10px;
	background:url(../Imagenes/div_menu_left.png);
}

#M_inicio{
	background:url(../Imagenes/menu_inicio.png) no-repeat;
	width:124px;
	height:22px;
}

#M_sesion{
	background:url(../Imagenes/menu_sesion.png) no-repeat;
	width:124px;
	height:22px;
}

#M_admin{
	background:url(../Imagenes/menu_admin.png) no-repeat;
	width:124px;
	height:22px;
}

#M_gps{
	background:url(../Imagenes/menu_gps.png) no-repeat;
	width:124px;
	height:22px;
}

#M_status{
	background:url(../Imagenes/menu_gpsStatus.png) no-repeat;
	width:124px;
	height:22px;
}

#M_historial{
	background:url(../Imagenes/menu_historial.png) no-repeat;
	width:124px;
	height:22px;
}

#M_usuarios{
	background:url(../Imagenes/menu_usuarios.png) no-repeat;
	width:124px;
	height:22px;
}

#M_contratos{
	background:url(../Imagenes/menu_contratos.png) no-repeat;
	width:124px;
	height:22px;
}

#M_contrCerrados{
	background:url(../Imagenes/menu_contratosCerrados.png) no-repeat;
	width:124px;
	height:22px;
}

#M_misdatos{
	background:url(../Imagenes/menu_misdatos.png) no-repeat;
	width:124px;
	height:22px;
}

#M_viajes{
	background:url(../Imagenes/menu_viajes.png) no-repeat;
	width:124px;
	height:22px;
}

#M_geocercas{
	background:url(../Imagenes/menu_geocercas.png) no-repeat;
	width:124px;
	height:22px;
}

#M_rutascontrol{
	background:url(../Imagenes/menu_rutascontrol.png) no-repeat;
	width:124px;
	height:22px;
}

#M_rutas_{
	background:url(../Imagenes/menu_ruta.png) no-repeat;
	width:124px;
	height:22px;
}

#M_reportes{
	background:url(../Imagenes/menu_reportes.png) no-repeat;
	width:124px;
	height:22px;
}

#M_salir{
	background:url(../Imagenes/menu_salir.png) no-repeat;
	width:124px;
	height:22px;
}

#M_line_bottom{
	background:url(../Imagenes/line_bottom.png) no-repeat;
	width:124px;
	height:8px;
}

#bodyAdminRight{
	width:768px;
	float:right;
	padding-right:4px;
	padding-left:0px;
}

#bodyAdminRightContentHead{
	width:768px;
	background:url(../Imagenes/body_head_claro.png) no-repeat;
	height:4px;
}

#bodyAdminRightContentBody{
	width:746px;
	background:url(../Imagenes/body_body_claro.png) repeat-y;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:12px;
	padding-right:10px;
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	min-height:250px;
}

.msjError{
	width:726px;
	padding:5px;
	margin-bottom:10px;
	margin-top:3px;
	border:4px solid #E80000;
	background-color:#FBABAB;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}

.msjWarning{
	width:726px;
	padding:5px;
	margin-bottom:10px;
	margin-top:3px;
	border:4px solid #F2E256;
	background-color:#FBF8AB;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}

.msjInfo{
	width:726px;
	padding:5px;
	margin-bottom:10px;
	margin-top:3px;
	border:4px solid #7377EF;
	background-color:#D0D8FE;
	font-size:12px;
	font-weight:bold;
	color:#020E61;
}

.buttonOK{
	background:url(../Imagenes/button1.png) no-repeat;
	width:160px;
	height:39px;
	cursor:pointer;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}

.buttonOK span{
	position:relative;
	top:11px;
}

.buttonOK:hover{
	background:url(../Imagenes/button2.png) no-repeat;
}

#bodyAdminRightContentFeet{
	width:768px;
	background:url(../Imagenes/body_feet_claro.png) no-repeat;
	height:6px;
}

#feetAdminLeft{
	width:179px;
	height:68px;
	float:left;
	background:url(../Imagenes/feet_left.png) no-repeat;
}

#feetAdmincenter{
	width:560px;
	height:68px;
	float:left;
	background:url(../Imagenes/feet_center.png) repeat-x;
}

#creditos{
	width:332px;
	height:13px;
	background:url(../Imagenes/creditos.png) no-repeat;
	margin-left:105px;
	margin-top:50px;
	position:relative;
	bottom:5px;
}

#feetAdminright{
	width:157px;
	height:68px;
	float:right;
	background:url(../Imagenes/feet_right.png) no-repeat;
}

#tabla table{
	width:745px;
	border-top:1px solid #999999;
	border-bottom:1px solid #D9D9D9;
	font-family:"Lucida grande", Tahoma, Verdana, Arial, sans-serif;
}

.headTabla td{
  background:url(../Imagenes/head_table.png) repeat-x center;
  font-size:12px;
  font-weight:bold;
  height:25px;
  text-align:center;
  cursor:default;
  color:#FFFFFF;
}

.bodyTable0{
	background:#FFFFFF;
	font-size:11px;
	color:#2F2F2F;
	height:20px;
	cursor:default;
}

.bodyTable0:hover{
	background-color:#AAC3E6;
}

.bodyTable0 td{
	border-right:1px #D9D9D9 solid;
	padding-left:8px;
}

.bodyTable0 td a, .bodyTable1 td a{
	border:0px;
}

.bodyTable1{
	background:#E6EDF6;
	font-size:11px;
	color:#2F2F2F;
	height:20px;
	cursor:default;
}

.bodyTable1:hover{
	background-color:#AAC3E6;
}

.bodyTable1 td{
	border-right:1px #D9D9D9 solid;
	padding-left:8px;
}

/*-----------------------ADMIN---------------------------*/


/*-----------------------GENERAL-------------------------*/
#all2{
  width:866px;
  height:100%;
  margin:10px;
}

.corte{
	clear:both;
}

#head_config{
 margin-bottom:20px;
 margin-left:290px;
}

.men_conf{
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
}

.men_conf:hover{
  background-color:#000000;
  color:#ffffff;
}

#contenido{
  width:856px;
}

.link{
	text-decoration:underline;
	color:#3347C7;
}

.link:hover{
	text-decoration:none;
	color:#FFFFFF;
	background-color:#3347C7;
	cursor:pointer;
}

/*FORMULARIOS*/
.Fform{
	margin-left:100px;
    margin-right:105px;
	text-align:left;
}

.Ftitulo{
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:22px;
	color:#003366;
	margin-left:70px;
	margin-bottom:20px;
	margin-top:15px;
	cursor:default;
}

.Fseleccion{
	border-bottom:1px solid #EEEFFD;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	width:720px;
}

.FseleccionBoton{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:15px;
}

.Fseleccion:hover{
	background:#E8EAF8;
}

.Fenviar{
	cursor:pointer;
}

.FtxtHelp{
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:11px;
	color:#9A9A9A;
	cursor:default;
}

.Flbl{
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:13px;
	font-weight:bold;
}

.Ftxt{
	border:1px solid #CBCFFB;
	background-color:#FFFFFF;
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:20px;
	color:#2D7EC1;
}

.Ftxt:focus{
	border:1px solid #BEC3FA;
}

.combobox{
	border:1px solid #CBCFFB;
	background-color:#FFFFFF;
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:20px;
	color:#2D7EC1;
}

.combobox:focus{
	border:1px solid #BEC3FA;
}

.Fboton{
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:17px;
	position:relative;
	top:-2px;
	cursor:pointer;
}

#imgWaitForm{
	position:relative;
	bottom:22px;
	left:320px;
}

.divButton input{
	width:150px;
	height:30px;
	font-size:14px;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
}

/*FORMULARIOS*/

/*-----------------------GENERAL-------------------------*/


/*--------------------------DATE PICKER---------------------------*/

/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	float: left;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background:url(../Imagenes/New/calendario.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
	margin-top:8px;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	border:1px solid #CBCFFB;
	background-color:#FFFFFF;
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:20px;
	color:#2D7EC1;
	float: left;
}

input.dp-applied:focus{
	border:1px solid #BEC3FA;
}

/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Yahoo new version style pagination*/
	div.pagination {
		padding: 3px;
		margin-top: 15px;
		text-align:center;
		font-family:Tahoma,Helvetica,sans-serif;
		font-size:10px;
		margin-bottom:15px;
	}
	
	div.pagination a {
		border: 1px solid #ccdbe4;
		margin-right:3px;
		padding:2px 8px;

		background-position:bottom;
		text-decoration: none;

		color: #0061de;		
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #2b55af;
		background-image:none;
		background-color:#1F4C85;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.pagination span.disabled {
		display:none;
	}
	div.pagination a.next{
		border:2px solid #ccdbe4;
		margin:0 0 0 10px;
	}
	div.pagination a.next:hover{
		border:2px solid #2b55af;
	}
	div.pagination a.prev{
		border:2px solid #ccdbe4;
		margin:0 10px 0 0;
	}
	div.pagination a.prev:hover{
		border:2px solid #2b55af;
	}
	
	
	
/*---DATE PICKER---*/

/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	float: left;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background:url(../Imagenes/calendario.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
	margin-top:8px;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	border:1px solid #CBCFFB;
	background-color:#FFFFFF;
	font-family:"Lucida grande", Tahoma, Verdana, arial, sans-serif;
	font-size:20px;
	color:#2D7EC1;
	float: left;
}

input.dp-applied:focus{
	border:1px solid #BEC3FA;
}

table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
	width:172px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}
table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected:hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background: #fff;
	color: #000;
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}